.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
      your background is light. */
  color: white;
}

body {
  background: #fafafa;

}

.add-playlist{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/** Classes for displaying youtube search results */
#yt-search-results {
  padding: .2em;
  width: auto;
  overflow: auto;
  height: 400px; /** I shouldnt hard-code this, just testing overflow scroll */
  background-color: transparent;
  color: black;
  
}
.youtube-search-result {
  display: block;
  width: max-content;
  padding: .5em;
  background: ghostwhite;
  margin: .2em auto;
}
.result-title {
  overflow: hidden;
  word-wrap: none;
  margin: 0;
  text-decoration: underline;
}
.youtube-search-result-details {
  float: right; 
  width: 280px;
  padding-right: .2em;
  padding-left: .2em;
}
.result-description {
  display: block; /** just here to keep vs code happy */
}
.result-date-created {
  float: right;
}
.result-creator {
  float: left;
}

#yt-player{
  height:100%;
}

  /**Divs For Results Lyrics and Player**/
.mdl-textfield__label {
  color: white;
  }

/**Text For Results Card**/
.mdl-card__title-text {
  color:blue; 
}

/**Style for reults card**/
.mdl-card__title-text, .mdl-card__title {
  background-color: white;
}

/**Style for player card**/
.mdl-card1{
  background-color: gray;
  height: auto;
  width: auto;
}

/**Style for lyrics card**/
.mdl-card2{
  background-color: gray;
}
.mdl-card-lyrics{
  background-color: white;
  overflow: auto;
}

/**Style for reults card**/
.mdl-card__media {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
/**Style for reults card**/
.mdl-card__media1 {
  width: auto;
  height: auto;
  background-color: transparent;
}

#search {
  float: right;
}

/** Helper Classes */
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}