.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
      your background is light. */
  color: white;
}

.body {
  padding: 20px;
  background: #fafafa;
  position: relative;
}

.mdl-textfield__label {
color: white;
}

#sample3 {
    color:white;
}

.demo-card-wide.mdl-card {
  left: 20px;
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: white;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

body {
  background: #fafafa;
  position: relative;
}
.mdl-card__title-text {
  color:blue;
}


/** Classes for displaying youtube search results */
#yt-search-results {
  padding: .2em;
  width: 500px;
  overflow: auto;
  height: 400px; /** I shouldnt hard-code this, just testing overflow scroll */
  background: lightgray;
  
}
.youtube-search-result {
  display: block;
  width: max-content;
  padding: .5em;
  background: ghostwhite;
  margin: .2em auto;
}
.result-title {
  overflow: hidden;
  word-wrap: none;
  margin: 0;
  text-decoration: underline;
}
.youtube-search-result-details {
  float: right; 
  width: 280px;
  padding-right: .2em;
  padding-left: .2em;
}
.result-description {
  display: block; /** just here to keep vs code happy */
}
.result-date-created {
  float: right;
}
.result-creator {
  float: left;
}


/** Helper Classes */
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}